{% extends 'base.html.twig' %}

{% block title %}Accueil | Kakté Kitchen{% endblock %}

{% block body %}
    <main>
        <h1>Bienvenue dans ma cuisine !</h1>

        <section>
            Les dernières tendances :
        </section>
    </main>
{% endblock %}
