{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="h2 text-primary">Ajout d'une nouvelle recette</h2>
<section class="container">
    {{ form_start(formView) }}
    {{ form_widget(formView) }}
    {{ form_end(formView) }}
</section>
{% endblock %}