{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <section class="container">
        <h2 class="h2 text-primary mt-4 mb-4">Ajout d'une nouvelle catégorie</h2>
        {{ form_start(formView) }}
        {{ form_widget(formView) }}
        {{ form_end(formView) }}
    </section>
{% endblock %}