{% extends 'baseAdmin.html.twig' %}

{% block title %} Dashboard {% endblock %}

{% block body %}

    <section class="container">
        <h1 class="h1 text-primary">Dashboard</h1>
    </section>

{% endblock %}